{% extends 'base.html' %}
{% block title %} TikTok Creator Tracker {% endblock %}

{% block body %}
<center> 

  <div class="row"> 
<h1>  
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16">
  <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3V0Z"/>
</svg> Tiktok Creator Tracker 
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16">
  <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3V0Z"/>
</svg>
</h1> 
</div>

<div class="row"> 
<h2> Welcome to a tool to follow Tiktok creators for their <u><b>metrics</b></u> - not just their content. Basic metrics include a creator's
  number of followers, number following, number of videos posted, and total likes across all videos. Login below to see your list of creators, 
  visualize their growth over time, and refresh their metrics via API! </h2>
</div> 


<div class="row"> 
<main class="form-signin w-100 m-auto">
  <form action="/login" method="POST">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
      <label for="email">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      <label for="password">Password</label>
      <button class="w-100 btn btn-lg btn-dark" type="submit">Sign in</button>
    </div>
  </form>
</main>
</div>

<div class="row"> 
  <center> <div class="col-5"> 
  <img src="/static/img/tiktokbear.png"> 
</div></div></center>





</center>
{% endblock %}